

.App-body {
  background-color: #86BCA4;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

}
:root {
	--primary-color: white
}
a {
	text-decoration: none;
	color: var(--primary-color);
}
.logo{justify-content: center;
	text-align: center;}


.graphic{
float:right;
padding-right: 15%;}
.mailinglistbtn{ 
 background-color: yellow; /* Green */
	border: none;
	color: darkgreen;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
}
.email{
	padding: 10px;
	border-radius: 25px;
}
.survey{
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	
}

.content-container{
	clear: both;
}
