.card {
  border: 3px solid var(--primary-color);
  border-radius: 10px;
}

.card a {
  color: var(--charcoal);
}

.card a, .card a:hover, .card a:active, .card a:visited {
  text-decoration: none;
}

.card a:hover {
  color: var(--primary-color);
}

.homepage h4 {
  font-size: 1.75rem;
  font-weight: 900;
}
