.article-feed {

  flex-grow: 1;
  align-items: flex-start;

  .blog-card {
    margin: .5rem auto;
  }

  .blog-card img {
    border-radius: 7px;
    border: 3px solid var(--primary-color);
  }

  .blog-no-img {
    padding: 1rem 2rem;
    border-radius: 7px;
    border: 3px solid var(--primary-color);
    background-color: var(--peach-puff);
  }

  .blog-no-img h3 {
    font-weight: 900;
    margin: 0;
  }

  a {
    color: var(--charcoal);
    text-decoration: none;
  }

  a:hover {
    color: var(--dark-orange);
  }
}
