
body{
	background-color: #87BBA2;

}
.logo{justify-content: center;
	width: 50%;
	margin-right: auto;
	}

#mc_embed_signup{
	display: flex;
	justify-content: center;
	align-items: center;
}
.indicates-required{
	font-size:large !important ;
	clear: both;
	
}

#mc_embed_signup .mc-field-group input{
	align-content: center;


}
#mc_embed_signup .mc-field-group {
	padding-bottom: 1% !important;
}
footer {
    padding: 30px 0;
    clear: both;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    background: #3B6064;
    border-top: 8px solid #E0BE36;
    height: 50px;
    width: 100%;
  }

  .SocialIcons{
	 font-size: xx-large;
	 color: whitesmoke;
	 margin: 5px;
  }

  @media screen and (max-width:1280px){
	.graphiccontainer{	
		width: 75%;	
		margin-left: auto;
		margin-right: 7%;}
	.graphic{
		width:65%;
		margin-left: auto;
		margin-right: 7%;
	}
	.slogan{
		clear: right;
	}
	.emailinput{
		margin-left: 25%;
		padding: 10px;
	}

	.mailinglistbtn{
		margin-left: 26.5%;
		padding: 12px;
	
	}
	.quizlink{
		margin-left: 27%;
		font-size: medium;
	}

  @media screen and (max-width: 992px) {
	  .graphic{
		  width: 75%;
	  }
  };


	@media screen and (min-width: 640px) {
		.graphic{
			width: 75%; 
			align-content: center;
			margin-right: 2%;
			margin-left: auto;
	
		}
		.emailinput{margin-top: 5%;
			margin-left: 3%;}
		.mailinglistbtn{margin-left: 7%;}
		.quizlink{
			margin-left: 11%;
		}
		.slogan{
			margin-right: 10%;
		}
		
		footer{height: 100px}
	
	
	  };

  };