.about-kiki {
  font-size: 1.2rem;
}

.block {
  height: 100px;
  width: 100%;
  background: var(--dark-orange);
  margin-bottom: 2%;
}

.bio-row, .about-kiki {
  max-width: 1400px;
}

.bio {
  background: #30c3cd;
  padding: 12px 24px 0px 24px;
  color: var(--charcoal);
  height: 100%;
}

.bio img {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

.bio-img {
  width: 100%;
}

.bio h3 {
  margin-top: 1rem;
}

.bio a {
  color: var(--charcoal);
}

.bio a:hover {
  color: var(--dark-orange);
}

/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) {
  .bio h4 {
    min-height: 3.7rem;
  }
}

/* xlarge devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bio h4 {
    min-height: 4.5rem;
  }
}
