.welcome {
  background-size: 0;
}

.home-person-2 {
  margin-top: 2rem;
}

.btn-primary {
  color: var(--charcoal);
  background-color: var(--dark-orange);
}

.mailinglistbtn {
  font-weight: 900;
  border-radius: 25px;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
}

.homepage h2 {
  font-weight: 900;
}

.homepage .menu {
  padding-top: 140px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  .homepage .menu {
    padding-top: 112px;
  }


  .welcome {
    min-height: 325px;
    background: no-repeat;
    background-position-x: right;
    background-size: auto 300px;
  }

}


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

  .homepage .menu {
    padding-top: 120px;
  }

  .welcome {
    min-height: 400px;
    background-size: auto 400px;
  }


}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

  .welcome {
    min-height: 450px;
    background-size: auto 450px;
  }

}

/* Extra-extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {

  .welcome {
    min-height: 500px;
    
    background-size: auto 500px;
  }

  .home-person-1 img {
    max-height: 400px;
  }

  .home-person-2 img {
    max-height: 345px;
  }
}
