.mail-chimp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail-chimp-form input {
  border: solid 1px gray;
  border-radius: 20px;
  padding: .5rem;
  width: 100%;
  max-width: 20rem;
  margin-top:1rem;
}

.mail-chimp-form button {
  background-color: var(--dark-orange);
  color: var(--charcoal);
  border: none;
  border-radius: 20px;
  margin-top: 1rem;
  padding: .5rem 1rem;
}

.msg-alert{
  text-align: center;
  display: flex;
}
