/*********************************************************************
************************** Nav                 ***********************
**********************************************************************/
nav ul {
  font-family: 'Candal', sans-serif;
}

.navbar h1 {
  margin: 0;
}

.navbar-brand img {
  max-height: 50px;
}


/************************** Bootstrap Overrides ***********************/



.navbar-light .navbar-nav .nav-link {
  color: var(--font-color);
}

.navbar-light .navbar-nav .nav-item :visited{
  color: var(--font-color);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.nav-link:hover, .dropdown-item:hover, .dropdown-item:focus {
  color:var(--dark-orange) !important;
  background: none !important;
}

.dropdown-menu {
  border: none;
}

@media (min-width: 768px){
  .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
  }
}
