
.escape-icon {
  font-size: 1.32em;
  margin: 0 0.5em;
}

.escape a {
  border: 1px solid var(--primary-color);
  width: 300px;
  margin: 8px;
}

.btn-escape:hover {
  background-color: var(--peach-puff);
  border: 1px solid var(--primary-color);
}
