:root {
  --peach-puff: #f6ccb7;
  --primary-color: #30C3CD;
  --secondary-color: #ACE7EB;
  --background-color: white;
  --select-background: white;
  --charcoal: #212121;
  --dark-orange: #e8804c;
  --light-orange: #FFD399;
  --bright-orange: #FF9000;
  --light-gray: #F0EDED;
}


html, body {
  height: 100%;
  --font-color: var(--charcoal);
  margin: 0;
}

.App-body {
  background-color: #35BBCA;
  min-height: 90vh;
  font-size: calc(10px + 2vmin);
  color: #3B6064;
}

.dark-mode {
  --background-color: var(--charcoal);
  --font-color: white;
  --select-background: var(--charcoal);
}

.theme-switcher {
  background-color: var(--select-background);
  color: var(--font-color);
  padding: 2px;
  border-radius: 10px;
  margin: 0 1rem 1rem 0;
} 

body {
  color: var(--font-color);
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  font-family: 'Candal', sans-serif;
}

nav li a {
  display: block;
  color: var(--font-color);
  text-align: center;
  padding: 1px 10px;
  text-decoration: none;
}

#root {
  flex: 1 0 auto;
}

.mailinglistbtn {
  font-weight: 900;
  background-color: var(--dark-orange);
  border: none;
  padding: 12px;
  padding-left: 20px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 25px;
  clear: left;
  margin-left: 8px;
}

.mailinglist {
  margin-left: 10%;
  clear: left;
  margin-top: 12%;
}

.homebtn{
  font-weight: 900;
  background-color: var(--dark-orange);
  border: none;
  padding: 12px;
  padding-left: 20px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post-container {
  background-color: var(--dark-orange);
}

.blog-post img {
  max-width: 100%;
  border-radius: 15px;
}

.blog-post h3 {
  font-size: 1rem;
}

.content-container {
  clear: both;
}

footer {
  color: white;
  flex-shrink: 0;
	height: 10rem;  
  padding: 30px 0;
  text-align: center;
}

.dark-mode footer {
  color: var(--charcoal);
}

footer h3 {
  font-size: 20px;
}

.bannerflag {
  width: 10%;
  float: left;
}

.SocialIcons {
  font-size: xx-large;
  color: whitesmoke;
  margin: 10px;
}

.dark-mode .SocialIcons {
  color: var(--charcoal);
  
}
.dark-mode .SocialIcons :hover{
  color: #ffffff;
  
}
/*********************************************************************
************************** Colors and Utilities **********************
**********************************************************************/
.bg-peach-puff {
  background-color: var(--peach-puff);
}

.bg-light-orange {
  background-color: var(--light-orange);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.dark-mode .bg-peach-puff {
  background-color: var(--peach-puff);
}
.dark-mode h2{
  color: white;
}

.dark-mode .bg-light-orange {
  background-color: var(--dark-orange);
}

.dark-mode .bg-light-gray {
  background-color: #414141;
  color: white;
}


/*********************************************************************
************************** Bootstrap Overrides ***********************
**********************************************************************/

.App h2, .App h3 {
  font-weight: 900;
}

.navbar {
  padding: .5rem 1rem 0 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--font-color);
}

.navbar-light .navbar-nav .nav-item :hover{
  color: var(--dark-orange);
}

.navbar-light .navbar-nav .nav-item :visited{
  color: var(--font-color);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.bg-primary {
 background-color: var(--primary-color)!important;
}

.bg-secondary {
  background-color: var(--secondary-color)!important;
}

.dark-mode .bg-primary {
  background-color: var(--dark-orange)!important;
}

/*********************************************************************
************************** Heading  **********************************
**********************************************************************/

h2.page-title {
  margin-right: -15px;
  margin-left: -15px;
  padding: 5rem 0 10rem 0;
}


.dark-mode .heading h2 {
  color: var(--charcoal);
}


/***************************************************************************
  ************************** Homepage **************************************
  ***************************************************************************/

.home-person-2 {
  margin-top: 2rem;
}




/***************************************************************************
  ************************** PrEP Page & FAQ ****************************************
  ***************************************************************************/
.accordion-page h2 {
  margin-right: -15px;
  margin-left: -15px;
  padding: 5rem 0 10rem 0;
}


.accordion-person{
  height: 28rem;
}

.accordion-page i {
	color: #30C3CD;
}

.accordion i, .accordion-wrapper i {
  font-size: 4rem;
}

.accordion h3 {
	margin-bottom: 0rem;
}
.accordion-item {
	overflow: hidden;
	transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
	height: auto;
	max-height: 9999px;
  }
  
  .accordion-item.collapsed {
	max-height: 0;
	transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
  }
  
.accordion-title {
	cursor: pointer;
	padding: 0.5em 1.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 
  .accordion-title:hover h3 {
    color: var(--dark-orange);
  }
 
  .accordion-content {
	padding: 1em 1.5em;
  }

  .accordion-content li {
    padding-top: 1em;
  }



/***************************************************************************
  ************************** Sex Toy Page ***********************************
  ***************************************************************************/
.sex-toys .card {
  height: 100%;
}

.sex-toys .card img {
  height: 15rem;
  width: auto;
  padding: 2rem;
}
  
  /***************************************************************************
  ************************** Mailing List Page *******************************
  ***************************************************************************/

.header-2 {
	font-weight: bolder;
  
}


.indicates-required {
	font-family: 'Montserrat', sans-serif;
	font-size: large !important ;
	clear: both;
  color:red;
  text-align: center;
}

.mail-chimp-form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
  margin: 0 auto;
}

.mail-chimp-form input{
  border: solid 1px gray;
  border-radius: 20px;
  padding: .5rem;
  width: 20rem;
  display: block;
  text-indent: 2%; 
  margin-top:1rem;
  margin-right: 3rem;
}

.dark-mode .mail-chimp-form input {
  background-color: var(--charcoal);
  color: white;
}

.mail-chimp-form button {
  background-color: var(--dark-orange);
  color: var(--charcoal);
  border: none;
  border-radius: 20px;
  margin-top: 1rem;
  padding: .5rem 1rem;
  align-self: end;
  margin-right:1.5rem ;
}

.msg-alert{
  text-align: center;
  display: flex;
}

.logo {
	display: flex;
  justify-content: center;
}

label {
	margin-left: 1%;
	font-weight: bold;
  }

  
  .SectionContainer {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    font-size: x-large;
  }
  
  .wrapper{
	  margin: 0 auto;
  
	}

  .header-1 {
	  text-align: center;
  }
  
  span {
	  padding-top: 2%;
  }
  
  .grow {
	  transition: all 0.3s ease-in-out;
  }
  
  .grow:hover {
	  transform: scale(1.03);
  }
  
  .about-us-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3rem;
  }
  
  .block {
    height: 100px;
    width: 100%;
    background: var(--dark-orange);
    margin-bottom: 2%;
  }

  .Bio {
	background: #30c3cd;
	margin-left: 2%;
	padding: 10px;
	color: white;
	width: 30rem;
	margin-top: 2%;
  margin-bottom: 2rem;
  }

  .dark-mode .Bio {
    color: var(--charcoal);
  }

  .Bio h4 {
    height: 4rem;
	  font-weight: bold;
  }
  
  .bio-img {
  margin-top: 1rem;
	width: 100%;
  }
  .content {
	  width: 90%;
  }
  #about-links {
	  color: white !important;
  }

  .dark-mode #about-links {
    color: var(--charcoal) !important;
  }

/*********************************************************************
***************************** Media Queries **************************
**********************************************************************/

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
	.Bio h4{
    font-size: larger;
		font-weight: bold;
  }
	footer h3{
    font-size: larger;
  }

	h2.page-title {
    padding: 5rem 0 20rem 0;
  }
  
  .heading-people {
    margin-top: -18rem;
  }
  .mail-chimp-form button{
    margin-right: 2rem;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .bg-placeholder {
    z-index: -500;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: no-repeat;
    background-position-x: right;
    background-size: auto 400px;
  }

  .dark-mode .bg-placeholder {
    background-size: 0;
  }
  .mail-chimp-form button{
    margin-right: 2rem;
  }

 }


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

  .bg-placeholder {
    background-size: auto 440px;
  }
 }


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .bg-placeholder {
    background-size: auto 600px ;
  }
}
