/* @import url('https://fonts.googleapis.com/css2?family=Candal&family=Montserrat&display=swap');
body {
  background-color: #35bbca;
  color: white;
  font-size: larger;
  font-family: 'Montserrat', sans-serif;
}
.header-2 {
  font-weight: bolder;
  color: #3b6064;
}
.indicates-required {
  color: #3b6064;
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style-type: none;
  overflow: hidden;
  font-family: 'Candal', sans-serif;
}
li a {
  color: white;
  text-decoration: none;
}
li a :hover {
  color: #3b6064;
}
#mc_embed_signup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicates-required {
  font-size: large !important ;
  clear: both;
}
label {
  margin-left: 1%;
  font-weight: bold;
  color: #3b6064;
}

#mc_embed_signup .mc-field-group input {
  border-radius: 25px;
  align-content: center;
}
#mc_embed_signup .mc-field-group {
  padding-bottom: 1% !important;
}

.SectionContainer {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  color: white;
  font-size: x-large;
}
.header-1 {
  text-align: center;
}
span {
  padding-top: 2%;
}

.grow {
  transition: all 0.3s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}

.about-us-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  color: white;
}

.Bio {
  background: #30c3cd;
  margin-left: 2%;
  padding: 10px;
  color: white;
  width: 490px;
  margin-top: 2%;
}
.bio-img {
  width: 100%;
}
.about-us-content {
  width: 90%;
}
#about-links {
  color: white !important;
}

.SocialIcons {
  font-size: xx-large;
  color: whitesmoke;
  margin: 5px;
}
 */
