.App-body {
  background-color: #35BBCA;
  min-height: 90vh;
  font-size: calc(10px + 2vmin);
  color: #3B6064;
}
body{
	background-color: #35BBCA;
	font-family: 'Montserrat', sans-serif;
}
:root {
	--primary-color: white
}
.logo{
	margin-left: 26%;
	margin-top: 4px;
	clear: both;
	position: sticky;
}
ul {

	list-style-type: none;
	overflow: hidden;
	margin-right: 10%;
	font-family: 'Candal', sans-serif;
  }
li{
	margin-left: 2%;
}  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 1px 10px;
	text-decoration: none;
  }
  
  li a :hover {
	color: #3B6064 ;
}
.graphic{
	float:right;
	padding-right: 10%;
	margin-top: 7%;
}
.slogan{
	color: #3B6064;
	font-weight: bold;
}


.mailinglistbtn{
 	background-color: #E0BE36;
	border: none;
	color: #3B6064;
	padding: 12px;
	padding-left: 20px;
	padding-right: 25px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
	border-radius: 25px;
	clear: left;
	margin-left: 8px ;
}
.quizlink{
	margin-left:10px;
	color: #3B6064;
	font-size:medium;
	clear:left ;
}
.mailinglist{
	margin-left: 10%;
	clear: left;
	margin-top: 12%;
}
.content-container{
	clear: both;
}
footer {
    padding: 30px 0;
    clear: both;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    background:#055164;
    border-top: 8px solid goldenrod;
    height: 70px;
	width: 100%;
  }
  .bannerflag{
	  width: 10%;
	  float: left;
  }
  .SocialIcons{
	 font-size: xx-large;
	 color: whitesmoke;
	 margin: 10px;
	;
  }
  @media screen and (max-width:1280px){
	  .logo{
		  z-index: -1;
		  position: static;
	}
	ul{
		z-index: 1; 
		margin-right:15%;
	}
	.graphiccontainer{	
		width: 75%;	
		margin-left: auto;
}
	.graphic{
		width:65%;
		margin-right: 10%; 
		margin-top: 5%;
	}
	.slogan{
		clear: right;
		margin-left: 15%;
	}
	.emailinput{
		margin-left: 25%;
		padding: 10px;
	}

	.mailinglistbtn{
		margin-left: 25%;
		padding: 12px;
	}
	.quizlink{
		margin-left: 25%;
		font-size: medium;
	}

  @media screen and (max-width: 992px) {
	  .logo{margin-left: 2%;}
	.graphic{
		width: 75%;
		margin: 10%;
		margin-right: 15%;
		justify-content: center;

	}
.mailinglist{
	margin: 10%;
}
	li
	{font-size: medium}
  };



	@media screen and (min-width: 640px) {
		.mailinglistbtn{margin-left: 1%;}
		.quizlink{
			margin-left: 10%;
		}
		.slogan{
			margin-right: 10%;
		}
		footer{height: 100px}
	  };

	};