:root {
  --primary-color: white;
  --background-color: #35bbca;
  --select-background: white;
  --select-font-color: #212121;
}

.dark-mode {
  --background-color: #212121;
  --select-font-color: white;
  --select-background: #212121;
}
.theme-switcher {
  background-color: var(--select-background);
  position: absolute;
  padding: 2px;
  color: var(--select-font-color);
  right: 35px;
  top: 80px;
  border-radius: 10px;
}

body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  overflow: hidden;
  font-family: 'Candal', sans-serif;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 10px;
  text-decoration: none;
}

li a :hover {
  color: #3b6064;
}
.slogan {
  color: #3b6064;
  font-weight: bold;
}

.mailinglistbtn {
  background-color: #e0be36;
  border: none;
  color: #3b6064;
  padding: 12px;
  padding-left: 20px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 25px;
  clear: left;
  margin-left: 8px;
}
.quizlink {
  margin-left: 10px;
  color: #3b6064;
  font-size: medium;
  clear: left;
}
.mailinglist {
  margin-left: 10%;
  clear: left;
  margin-top: 12%;
}
.content-container {
  clear: both;
}
footer {
  position: static;
  bottom: 0;
  margin-top: 12rem;
  height: 10rem;
  padding: 30px 0;
  color: whitesmoke;
  text-align: center;
  background: #055164;
  border-top: 8px solid goldenrod;
}

footer h3 {
  font-size: 20px;
}

.bannerflag {
  width: 10%;
  float: left;
}
.SocialIcons {
  font-size: xx-large;
  color: whitesmoke;
  margin: 10px;
}

/*********************************************************************
************************** Bootstrap Overrides ***********************
**********************************************************************/
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: large;
}
.nav-link {
  padding-bottom: 0;
}
.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

.header-2 {
  font-weight: bolder;
  color: #3b6064;
}
.indicates-required {
  color: #3b6064;
  font-family: 'Montserrat', sans-serif;
  font-size: large !important ;
  clear: both;
}
.logo {
  margin-left: 26%;
  clear: both;
}

#mc_embed_signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-left: 1%;
  font-weight: bold;
  color: #3b6064;
}

#mc_embed_signup .mc-field-group input {
  border-radius: 25px;
  align-content: center;
}
#mc_embed_signup .mc-field-group {
  padding-bottom: 1% !important;
}
.button {
  background-color: #e0be36 !important;
  color: #3b6064 !important;
  margin-left: 30% !important;
  margin-right: 30% !important;
}
.SectionContainer {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  color: white;
  font-size: x-large;
}

.wrapper {
  margin: 0 auto;
}
.accordion-wrapper {
  margin-top: 0.5em;
}

.accordion-item {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

.accordion-item.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
  font-weight: 600;
  cursor: pointer;
  color: white;
  padding: 0.5em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-title:hover {
  color: #f7931e;
}
.accordion-content {
  padding: 1em 1.5em;
  color: white;
}
.sources-links {
  font-size: large;
}
a {
  color: white;
}
.header-1 {
  text-align: center;
}
span {
  padding-top: 2%;
}

.grow {
  transition: all 0.3s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}

.about-us-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  color: white;
}
.block {
  height: 100px;
  width: 100%;
  background: #e0be36;
  margin-bottom: 2%;
}
.Bio {
  background: #3b6064;
  margin-left: 2%;
  padding: 10px;
  color: white;
  width: 30rem;
  margin-top: 2%;
}
h4 {
  height: 4rem;
  font-weight: bold;
}
.bio-img {
  width: 100%;
}
.content {
  width: 90%;
}
#about-links {
  color: white !important;
}

.toys {
  margin: 20px 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  position: relative;
  text-align: center;
  grid-gap: 0px;
}

.toy {
  margin-top: 40px;
  color: white;
}

.toy-image {
  height: 300px;
  width: 400px;
}

.toy-description {
  max-width: 60%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/*********************************************************************
***************************** Media Queries **************************
**********************************************************************/
@media (max-width: 500px) {
  h4 {
    font-size: larger;
    font-weight: bold;
  }
  h3 {
    font-size: larger;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
