.btn-accordion {
	display: flex;
	text-align: start;
}

.btn-accordion h4 {
	vertical-align: middle;
	width: 100%;
}

.btn-accordion:hover {
  color: var(--dark-orange);
	background-color: transparent;
	border-color: transparent;
}


.accordion-person {
  max-height: 250px;
}

.accordion-icon {
  font-size: 1.75rem;
  color: #30C3CD;
}

.accordion-title h3 {
	margin-bottom: 0rem;
}

.accordion-body {
	overflow: hidden;
	transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
	height: auto;
	max-height: 9999px;
}
  
.accordion-body.collapsed {
	max-height: 0;
	transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-content {
	margin-left: 4rem;
}

.accordion-content ul {
	padding-left: 1rem;
}
